@page "/AddNewProject"
@using ResoWire.Data
@inject ProjectService projectService
@inject NavigationManager NavigationManager
@inject AuthenticationStateProvider GetAuthenticationStateAsync

<h3>AddNewProject</h3>
<AuthorizeView>
<div>
    <form method="post" asp-page-handler="Submit">
        <label>Project Name:</label>
        <input type="text" @bind="projectObject.Projectname"><br />
        <label>Project description:</label>
        <input type="text" @bind="projectObject.Description"><br />
        <label>Project Start Date:</label>
        <input type="datetime-local" @bind="projectObject.StartDate"><br />
         <label>Project Target End Date:</label>
        <input type="datetime-local" @bind="projectObject.TargetEndDate"><br />
        <input type="button" class="btn btn-primary" @onclick="@CreateNewProject" value="Save"/>
        <input type="button" class="btn btn-primary" @onclick="@Cancel" value="Cancel"/>    
    </form>
</div>
</AuthorizeView>
@code {
    Project projectObject = new Project();

    protected async void CreateNewProject()
    {
        var authstate = await GetAuthenticationStateAsync.GetAuthenticationStateAsync();
        var user = authstate.User;
        projectObject.CreatedBy = authstate.User.Identity.Name;
        projectObject.CreatedOn = System.DateTime.Now;
        projectObject.CreatedById = user.FindFirst(c => c.Type.Contains("nameidentifier"))?.Value;
        await projectService.AddNewProjectAsync(projectObject);
        NavigationManager.NavigateTo("./Projects");
    }

    void Cancel()
    {
        NavigationManager.NavigateTo("./Projects");
    }


}